
{% block body %}
    <!-- FOOTER -->

<footer id="footer" class="it-footer" role="contentinfo" style=" margin-top: 40px;">
	<hr class="hr3" style="background-color:#222; height:15px; margin:0px;">
  <div class="it-footer-main" style="background-color:white; padding:20px;">
    <div class="container">
      <section>
			<div class="col col-xs-4 text-left">
            <a href="http://www.dps.mef.gov.it/"><img src=" http://dati.umbria.it/images/Logo_DPS.jpg" title="Dipartimento per lo Sviluppo e la Coesione Economica" style="max-width:100%; height: auto" alt="DPS" align="top"></a>
            </div>

            <div class="col col-xs-4 text-center">
            <a href="http://www.dps.gov.it/it/politiche_e_attivita/Fondo_per_lo_Sviluppo_e_la_Coesione"><img src="http://dati.umbria.it/images/FSC.jpg" title="Fondo per lo Sviluppo e la Coesione" style="max-width:100%; height: auto" alt="FSC" align="top"></a>
            </div>

            <div class="col col-xs-4 text-right">
            <a href="http://www.regione.umbria.it/che-cos-e-il-fondo-di-sviluppo-e-coesione-fsc"><img src="http://dati.umbria.it/images/FSC_Umbria.jpg" title="Fondo per lo Sviluppo e la Coesione Umbria" style="max-width:100%; height: auto" alt="FSC Umbria" align="top"></a>
            </div>
	 </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix" style=" padding:40px 0px 40px 0px;" >
   <div class="container">
		<div class="col-md-8 text-left">
			<div class="span3">
			  <address>
			  <strong><a href="http://www.regione.umbria.it" target="_blank">Regione Umbria</a></strong><br>
			  Corso Vannucci, 96<br>
			  06121 Perugia<br>
				<a href="mailto:opendata@regione.umbria.it">opendata@regione.umbria.it</a><br>
				<a href="mailto:regione.giunta@postacert.umbria.it">regione.giunta@postacert.umbria.it</a><br>
				P.IVA 01212820540<br>
			  </address>
			</div>
		</div>
		<div class="col-md-4 text-right">
			<p><a href="#">Back to top</a></p>
		</div>
   	</div>
	</div>
</footer>
{% endblock %}