{% extends "UmbriaProLocoBundle::base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('umbria_open_api_homepage') }}">
                    <img alt="Brand" src="{{ asset('img/logo_umbria.png') }}" height="70">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('umbria_pro_loco_suape') }}">SUAPE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>Statistiche SUAPE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="btn-group" role="group" >
                    <button id="evaseDatasetSelector" type="button" class="btn btn-primary active" aria-pressed="true"
                    onclick="datasetSelectorChange(this)">Pratiche evase</button>
                    <button id="tipologieDatasetSelector" type="button" class="btn btn-default" onclick="datasetSelectorChange(this)">Tipologie</button>
                    <button id="categorieDatasetSelector" type="button" class="btn btn-default" onclick="datasetSelectorChange(this)">Categorie</button>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div id="chartDescription" class="col-md-6 col-md-offset-3">
                <div>Grafico che mostra il rapporto tra le pratiche evase e le pratiche totali.</div>
        </div>
        <script>
            function datasetSelectorChange(buttonPressed){
                datasetSelectorChangeColor(buttonPressed);
                changeChartDescription(buttonPressed);
                showCurrentDatasetChart(buttonPressed);
            }
            function datasetSelectorChangeColor(buttonPressed){
                $('#evaseDatasetSelector').removeClass("btn-primary active");
                $('#evaseDatasetSelector').addClass("btn-default");
                $('#tipologieDatasetSelector').removeClass("btn-primary ");
                $('#tipologieDatasetSelector').addClass("btn-default");
                $('#categorieDatasetSelector').removeClass("btn-primary");
                $('#categorieDatasetSelector').addClass("btn-default");
                buttonPressed.className="btn btn-primary";
            }
            function changeChartDescription(buttonPressed){

                var buttonId=buttonPressed.id;
                if(buttonId=='tipologieDatasetSelector'){
                    $('#chartDescription').html("Grafico che mostra la ripartizione delle tipologie delle proposte");
                }
                else if(buttonId=='categorieDatasetSelector'){
                    $('#chartDescription').html("Grafico che mostra la ripartizione delle categorie delle proposte");
                }
                else{
                    $('#chartDescription').html("Grafico che mostra il rapporto tra le pratiche evase e le pratiche totali");
                }
            }
            function showCurrentDatasetChart(buttonPressed){
                $('#chart_evase_div').css('visibility', 'hidden');
                $('#chart_tipologie_div').css('visibility', 'hidden');
                $('#chart_categorie_div').css('visibility', 'hidden');
                var buttonId=buttonPressed.id;
                if(buttonId=='tipologieDatasetSelector'){
                    $('#chart_tipologie_div').css('visibility', 'visible');
                }
                else if(buttonId=='categorieDatasetSelector'){
                    $('#chart_categorie_div').css('visibility', 'visible');
                }
                else{
                    $('#chart_evase_div').css('visibility', 'visible');
                }
            }
        </script>
        <div class="row">
            <div id="dashboard_div">
                <div class="row" >
                    <br><br>
                    <select id="comuneFilter" class="col-md-4 col-md-offset-4" onchange="drawChart(this.value)">

                    </select>
                </div>
                <div class="row">
                <br><br>
                    <div id="chart_evase_div"></div>
                    <div id="chart_tipologie_div" style="visibility: hidden"></div>
                    <div id="chart_categorie_div" style="visibility: hidden"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
         var comuniURLQuerySPARQL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query=select+distinct+%3Fcomune%0D%0Awhere%7B%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%7D&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
         $.getJSON( comuniURLQuerySPARQL  , function(resp){
            var row=resp.results.bindings;
            $.each( row, function( key, val ) {
                $("#comuneFilter").html($("#comuneFilter").html()+" <option value=\""+val.comune.value+"\">"+val.comune.value+"</option>");
            });
         });

         google.charts.load('current', {'packages':['corechart', 'controls', 'annotationchart', 'table']});
         google.charts.setOnLoadCallback(drawCharts);

         function drawCharts(comune) {
            if(comune==null){
                comune="GUBBIO";
            }
             var evaseURLQuerySPARQL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query=%23JOIN+CHIUSE+E+TOTALI%0D%0Aselect+%3Fanno+%3Fmese++%28SUM%28%3Fchiuse3%29+AS+%3Fchiuse%29+%28SUM%28%3Ftotali3%29+AS+%3Ftotali%29++%0D%0Awhere+%7B%0D%0A%7Bselect+%3Fanno+%3Fmese++%28SUM%28%3Fchiuse2%29+AS+%3Fchiuse3%29+%28SUM%28%3Fquantita%29+AS+%3Ftotali3%29++where+%0D%0A%7B%3Fs+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F1%3E+.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fanno%3E+%3Fanno.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fmese%3E+%3Fmese.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fstato-SUAPE%3E+%3FstatoURI.%0D%0A%3FstatoURI+rdfs%3Alabel+%3Fstato.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fmisura%2Fquantita%3E+%3Fquantita.%0D%0ABIND+%28%220%22%5E%5E%3Chttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23long%3E+AS+%3Fchiuse2%29.%0D%0AFILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D+%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese%7D%0D%0AUNION%0D%0A%7Bselect+%3Fanno+%3Fmese++%28%3Fquantita+AS+%3Fchiuse3%29+%3Ftotali3+where+%0D%0A%7B%3Fs+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F1%3E+.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fanno%3E+%3Fanno.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fmese%3E+%3Fmese.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fstato-SUAPE%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fstato-pratica-SUAPE%2FCP%3E.%0D%0A%3FstatoURI+rdfs%3Alabel+%3Fstato.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fmisura%2Fquantita%3E+%3Fquantita.%0D%0ABIND+%28%220%22%5E%5E%3Chttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23long%3E+AS+%3Ftotali3%29.%0D%0AFILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D+%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese%7D%0D%0A%7D%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
             $.getJSON( evaseURLQuerySPARQL  , function(resp){
                 var data = new google.visualization.DataTable();
                 data.addColumn('date', 'Data');
                 data.addColumn('number', 'Chiuse positivamente');
                 data.addColumn('number', 'Totali');
                 var row=resp.results.bindings;
                 $.each( row, function( key, val ) {
                     var anno= val.anno.value;
                     if(anno!='2105') {
                         var mese = val.mese.value;
                         var chiuse = parseInt(val.chiuse.value);
                         var totali = parseInt(val.totali.value);
                         var date = new Date(anno, new Date(Date.parse(mese + " 1, 2012")).getMonth() + 1);

                         data.addRows([
                             [date, chiuse, totali]
                         ]);
                     }
                 });
                 //table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

                var evaseChartOptions={
                  vAxis: {title: 'Numero proposte'}
                };
                var evase_chart = new google.visualization.AnnotationChart(document.getElementById('chart_evase_div'));
                evase_chart.draw(data);
             } );


             /*tipologie graphs*/

            /*annotation chart*/


             var tipologieURLQuerySPARQL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query=%23tipologie%0D%0Aselect+distinct+%3Ftipologia%0D%0Awhere%7B%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Ftipologia_SUAPE%3E+%3Ftipologia.%0D%0A%7D&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
             $.getJSON( tipologieURLQuerySPARQL  , function(resp){
                 var row=resp.results.bindings;
                 var tipologiaSubQuerySelectColumns="SELECT ?anno ?mese ?tipologia";
                 $.each( row, function( key, val ) {
                     var tipologia= val.tipologia.value;
                     tipologiaSubQuerySelectColumns+=" ?"+tipologia;
                     var tipologiaSubQueryWhere=
                     "where"+
                        "{?s <http://purl.org/linked-data/cube#dataSet> <http://dati.umbria.it/risorsa/dataset/SUAPE/2> ."+
                        "?s <http://dati.umbria.it/risorsa/dimensione/anno> ?anno."+
                        "?s <http://dati.umbria.it/risorsa/dimensione/comune> ?comune."+
                        "?s <http://dati.umbria.it/risorsa/dimensione/mese> ?mese."+
                        "?s <http://dati.umbria.it/risorsa/dimensione/tipologia_SUAPE> ?tipologia."+
                        "?statoURI rdfs:label ?stato."+
                        "?s <http://dati.umbria.it/risorsa/misura/quantita> ?quantita."+
                        "FILTER regex(?comune, \"GUBBIO\", \"i\")."+
                        "FILTER regex(?tipologia, \""+tipologia+"\", \"i\")."+
                        "} "+
                    "GROUP BY ?anno ?mese ?tipologia ";
                 });
             } );
         }



     </script>
 {% endblock %}