{% extends "UmbriaProLocoBundle::base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('umbria_open_api_homepage') }}">
                    <img alt="Brand" src="{{ asset('img/logo_umbria.png') }}" height="70">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('umbria_pro_loco_suape') }}">SUAPE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>Statistiche SUAPE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="btn-group" role="group" >
                    <button id="evaseDatasetSelector" type="button" class="btn btn-primary active" aria-pressed="true"
                    onclick="datasetSelectorChange(this)">Pratiche evase</button>
                    <button id="tipologieDatasetSelector" type="button" class="btn btn-default" onclick="datasetSelectorChange(this)">Tipologie</button>
                    <button id="categorieDatasetSelector" type="button" class="btn btn-default" onclick="datasetSelectorChange(this)">Categorie</button>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div id="chartDescription" class="col-md-6 col-md-offset-3">
                <div>Grafico che mostra il rapporto tra le pratiche evase e le pratiche totali.</div>
        </div>
        <script>
            function datasetSelectorChange(buttonPressed){
                datasetSelectorChangeColor(buttonPressed);
                changeChartDescription(buttonPressed);
                showCurrentDatasetChart(buttonPressed);
            }
            function datasetSelectorChangeColor(buttonPressed){
                $('#evaseDatasetSelector').removeClass("btn-primary active");
                $('#evaseDatasetSelector').addClass("btn-default");
                $('#tipologieDatasetSelector').removeClass("btn-primary ");
                $('#tipologieDatasetSelector').addClass("btn-default");
                $('#categorieDatasetSelector').removeClass("btn-primary");
                $('#categorieDatasetSelector').addClass("btn-default");
                buttonPressed.className="btn btn-primary";
            }
            function changeChartDescription(buttonPressed){

                var buttonId=buttonPressed.id;
                if(buttonId=='tipologieDatasetSelector'){
                    $('#chartDescription').html("Grafico che mostra la ripartizione delle tipologie delle proposte");
                }
                else if(buttonId=='categorieDatasetSelector'){
                    $('#chartDescription').html("Grafico che mostra la ripartizione delle categorie delle proposte");
                }
                else{
                    $('#chartDescription').html("Grafico che mostra il rapporto tra le pratiche evase e le pratiche totali");
                }
            }
            function showCurrentDatasetChart(buttonPressed){
                $('#chart_evase_div').css('visibility', 'hidden');
                $('#chart_evase_div').css('height', 0);
                $('#chart_tipologie_div').css('visibility', 'hidden');
                $('#chart_tipologie_div').css('height', 0);
                $('#chart_categorie_div').css('visibility', 'hidden');
                $('#chart_categorie_div').css('height', 0);
                var buttonId=buttonPressed.id;
                if(buttonId=='tipologieDatasetSelector'){
                    $('#chart_tipologie_div').css('height', 300);
                    $('#chart_tipologie_div').css('visibility', 'visible');
                }
                else if(buttonId=='categorieDatasetSelector'){
                    $('#chart_categorie_div').css('height', 300);
                    $('#chart_categorie_div').css('visibility', 'visible');
                }
                else{
                   $('#chart_evase_div').css('height', 300);
                    $('#chart_evase_div').css('visibility', 'visible');
                }
            }
        </script>
        <div class="row">
                <div class="row" >
                    <br><br>
                    <select id="comuneFilter" class="col-md-4 col-md-offset-4" onchange="drawCharts(this.value)">

                    </select>
                </div>
                <div class="row">
                <br><br>
                    <div id="chart_evase_div"></div>
                    <div id="chart_tipologie_div" style="visibility: hidden ; height: 0"></div>
                    <div id="chart_categorie_div" style="visibility: hidden ; height: 0"></div>
                </div>
        </div>
    </div>



{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
         var comuniURLQuerySPARQL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query=select+distinct+%3Fcomune%0D%0Awhere%7B%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%7D&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
         $.getJSON( comuniURLQuerySPARQL  , function(resp){
            var row=resp.results.bindings;
            $.each( row, function( key, val ) {
                var selected="";
                if(val.comune.value=="GUBBIO"){
                    selected="selected";
                }
                $("#comuneFilter").html($("#comuneFilter").html()+" <option value=\""+val.comune.value+"\" "+selected+" >"+val.comune.value+"</option>");
            });
         });

         google.charts.load('current', {'packages':['corechart', 'controls', 'annotationchart', 'table']});
         google.charts.setOnLoadCallback(drawCharts);

         function drawCharts(comune) {
            if(comune==null){
                comune="GUBBIO";
            }
             var evaseURLQuerySPARQL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query=%23JOIN+CHIUSE+E+TOTALI%0D%0Aselect+%3Fanno+%3Fmese++%28SUM%28%3Fchiuse3%29+AS+%3Fchiuse%29+%28SUM%28%3Ftotali3%29+AS+%3Ftotali%29++%0D%0Awhere+%7B%0D%0A%7Bselect+%3Fanno+%3Fmese++%28SUM%28%3Fchiuse2%29+AS+%3Fchiuse3%29+%28SUM%28%3Fquantita%29+AS+%3Ftotali3%29++where+%0D%0A%7B%3Fs+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F1%3E+.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fanno%3E+%3Fanno.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fmese%3E+%3Fmese.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fstato-SUAPE%3E+%3FstatoURI.%0D%0A%3FstatoURI+rdfs%3Alabel+%3Fstato.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fmisura%2Fquantita%3E+%3Fquantita.%0D%0ABIND+%28%220%22%5E%5E%3Chttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23long%3E+AS+%3Fchiuse2%29.%0D%0AFILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D+%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese%7D%0D%0AUNION%0D%0A%7Bselect+%3Fanno+%3Fmese++%28%3Fquantita+AS+%3Fchiuse3%29+%3Ftotali3+where+%0D%0A%7B%3Fs+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F1%3E+.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fanno%3E+%3Fanno.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fmese%3E+%3Fmese.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fstato-SUAPE%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fstato-pratica-SUAPE%2FCP%3E.%0D%0A%3FstatoURI+rdfs%3Alabel+%3Fstato.%0D%0A%3Fs+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fmisura%2Fquantita%3E+%3Fquantita.%0D%0ABIND+%28%220%22%5E%5E%3Chttp%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23long%3E+AS+%3Ftotali3%29.%0D%0AFILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D+%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese%7D%0D%0A%7D%0D%0AGROUP+BY+%3Fanno+%3Fmese+%0D%0AORDER+BY++%3Fanno+%3Fmese&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
             $.getJSON( evaseURLQuerySPARQL  , function(resp){
                 var data = new google.visualization.DataTable();
                 data.addColumn('date', 'Data');
                 data.addColumn('number', 'Chiuse positivamente');
                 data.addColumn('number', 'Totali');
                 var row=resp.results.bindings;
                 $.each( row, function( key, val ) {
                     var anno= val.anno.value;
                     if(anno!='2105') {
                         var mese = val.mese.value;
                         var chiuse = parseInt(val.chiuse.value);
                         var totali = parseInt(val.totali.value);
                         var date = new Date(anno, new Date(Date.parse(mese + " 1, 2012")).getMonth() + 1);

                         data.addRows([
                             [date, chiuse, totali]
                         ]);
                     }
                 });
                 //table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

                var evaseChartOptions={
                  vAxis: {title: 'Numero proposte'},
                  dateFormat:'MMMM, yyyy'
                };
                var evase_chart = new google.visualization.AnnotationChart(document.getElementById('chart_evase_div'));
                evase_chart.draw(data, evaseChartOptions);
             } );


             /*tipologie graphs*/




             var queryTipologieURL="http://dati.umbria.it/sparql?default-graph-uri=&query=select+distinct+%3Ftipologia+%0D%0Awhere%7B%0D%0A++++%3Fpratiche+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F2%3E+.%0D%0A%09%3Fpratiche+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Ftipologia_SUAPE%3E+%3Ftipologia.%0D%0A%09%3Fpratiche+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%09FILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";

             $.getJSON( queryTipologieURL  , function(resp){
                 var tipologieArray=resp.results.bindings;
                 var select1="";
                 var selectSubquery="";
                 var tipologie=[];
                 var cntTipologie=0;


                 for(var j=0; j < tipologieArray.length ; j++){
                    var tipologia= tipologieArray[j].tipologia.value;
                    var tipologiaForQuery=tipologia.split(' ').join('').split('.').join('').toLowerCase().trim();
                    tipologie[cntTipologie]=tipologia;
                    select1+=" SUM(?"+tipologiaForQuery+") as ?"+tipologiaForQuery;
                    selectSubquery+=" ?"+tipologiaForQuery;
                    cntTipologie++;
                 }


                var allSubqueries="";
                for(var i=0; i<tipologie.length; i++){
                    var currentSubQuery="{ SELECT ?anno ?mese "+selectSubquery+
                            "\n WHERE "+
                                "\n {?s <http://purl.org/linked-data/cube#dataSet> <http://dati.umbria.it/risorsa/dataset/SUAPE/2>. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/anno> ?anno. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/comune> ?comune. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/mese> ?mese. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/tipologia_SUAPE> ?tipologia. "+
                                "\n ?s <http://dati.umbria.it/risorsa/misura/quantita> ?"+tipologie[i].split(' ').join('').split('.').join('').toLowerCase().trim()+". "+
                                "\n FILTER regex(?comune, \""+comune+"\", \"i\"). "+
                                "\n FILTER regex(?tipologia, \""+tipologie[i]+"\", \"i\"). "+
                                getBindings(tipologie,i)+
                                "\n} "+
                            "\n GROUP BY ?anno ?mese "+
                            "\n ORDER BY ?anno ?mese }";
                    if(i!=0){
                        allSubqueries+="\n UNION \n";
                    }
                    allSubqueries+=currentSubQuery;
                }

                var queryPratichePerTipologia="SELECT ?anno ?mese "+select1+
                        "\n WHERE{\n"+allSubqueries+"}"+
                        "\n GROUP BY ?anno ?mese"+
                        "\n ORDER BY ?anno ?mese";
                var queryPratichePerTipologiaURL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query="+encodeURIComponent(queryPratichePerTipologia)+"&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
                $.getJSON( queryPratichePerTipologiaURL  , function(resp2){
                    var dataPratichePerTipologia=new google.visualization.DataTable();
                    dataPratichePerTipologia.addColumn('date', 'Data');
                    for(var j=0; j<tipologie.length; j++){
                        dataPratichePerTipologia.addColumn('number', tipologie[j]);
                    }
                    var rowsPratichePerTipologia=resp2.results.bindings;
                    for(var i=0; i<rowsPratichePerTipologia.length; i++){
                        var row= rowsPratichePerTipologia[i];
                        var date=new Date(row.anno.value, new Date(Date.parse(row.mese.value + " 1, 2012")).getMonth() + 1);
                        var rowArray=Object.keys(row).map(function (key) { return parseInt(row[key].value); });
                        rowArray[1]=date;
                        rowArray=rowArray.slice(1,rowArray.length);
                        dataPratichePerTipologia.addRow(rowArray);
                    }

                    var tipologieChartOptions={
                      vAxis: {title: 'Numero proposte'},
                      dateFormat:'MMMM, yyyy'
                    };
                    var tipologieChart = new google.visualization.AnnotationChart(document.getElementById('chart_tipologie_div'));
                    tipologieChart.draw( dataPratichePerTipologia, tipologieChartOptions);

                } );

             } );

             /*categorie graphs*/




             var queryCategorieURL="http://dati.umbria.it/sparql?default-graph-uri=&query=select+distinct+%3Fcategorie%0D%0Awhere%7B%0D%0A++++%3Fpratiche+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23dataSet%3E+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdataset%2FSUAPE%2F3%3E+.%0D%0A%09%3Fpratiche+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcategoria_SUAPE%3E+%3Fcategorie.%0D%0A%09%3Fpratiche+%3Chttp%3A%2F%2Fdati.umbria.it%2Frisorsa%2Fdimensione%2Fcomune%3E+%3Fcomune.%0D%0A%09FILTER+regex%28%3Fcomune%2C+%22"+comune+"%22%2C+%22i%22%29.%0D%0A%7D&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";

             $.getJSON( queryCategorieURL  , function(resp){
                 var categorieArray=resp.results.bindings;
                 var select1="";
                 var selectSubquery="";
                 var categorie=[];
                 var cntCategorie=0;


                 for(var j=0; j < categorieArray.length ; j++){
                    var categoria= categorieArray[j].categorie.value;
                    var categoriaForQuery=categoria.split(' ').join('').split('.').join('').toLowerCase().trim();
                    categorie[cntCategorie]=categoria;
                    select1+=" SUM(?"+categoriaForQuery+") as ?"+categoriaForQuery;
                    selectSubquery+=" ?"+categoriaForQuery;
                    cntCategorie++;
                 }


                var allSubqueries="";
                for(var i=0; i<categorie.length; i++){
                    var currentSubQuery="{ SELECT ?anno ?mese "+selectSubquery+
                            "\n WHERE "+
                                "\n {?s <http://purl.org/linked-data/cube#dataSet> <http://dati.umbria.it/risorsa/dataset/SUAPE/2>. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/anno> ?anno. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/comune> ?comune. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/mese> ?mese. "+
                                "\n ?s <http://dati.umbria.it/risorsa/dimensione/categoria_SUAPE> ?categoria. "+
                                "\n ?s <http://dati.umbria.it/risorsa/misura/quantita> ?"+categorie[i].split(' ').join('').split('.').join('').toLowerCase().trim()+". "+
                                "\n FILTER regex(?comune, \""+comune+"\", \"i\"). "+
                                "\n FILTER regex(?categoria, \""+categorie[i]+"\", \"i\"). "+
                                getBindings(categorie,i)+
                                "\n} "+
                            "\n GROUP BY ?anno ?mese "+
                            "\n ORDER BY ?anno ?mese }";
                    if(i!=0){
                        allSubqueries+="\n UNION \n";
                    }
                    allSubqueries+=currentSubQuery;
                }

                var queryPratichePerCategoria="SELECT ?anno ?mese "+select1+
                        "\n WHERE{\n"+allSubqueries+"}"+
                        "\n GROUP BY ?anno ?mese"+
                        "\n ORDER BY ?anno ?mese";
                var queryPratichePerCategoriaURL="http://dati.umbria.it/sparql?default-graph-uri=http%3A%2F%2Fdati.umbria.it%2Fgraph%2Fsuape&query="+encodeURIComponent(queryPratichePerCategoria)+"&format=application%2Fsparql-results%2Bjson&timeout=0&debug=on";
                $.getJSON( queryPratichePerCategoriaURL  , function(resp2){
                    var dataPratichePerCategoria=new google.visualization.DataTable();
                    dataPratichePerCategoria.addColumn('date', 'Data');
                    for(var j=0; j<categorie.length; j++){
                        dataPratichePerCategoria.addColumn('number', categorie[j]);
                    }
                    var rowsPratichePerCategoria=resp2.results.bindings;
                    for(var i=0; i<rowsPratichePerCategoria.length; i++){
                        var row= rowsPratichePerCategoria[i];
                        var date=new Date(row.anno.value, new Date(Date.parse(row.mese.value + " 1, 2012")).getMonth() + 1);
                        var rowArray=Object.keys(row).map(function (key) { return parseInt(row[key].value); });
                        rowArray[1]=date;
                        rowArray=rowArray.slice(1,rowArray.length);
                        dataPratichePerCategoria.addRow(rowArray);
                    }

                    var categorieChartOptions={
                      vAxis: {title: 'Numero proposte'},
                      dateFormat:'MMMM, yyyy'
                    };
                    var categorieChart = new google.visualization.AnnotationChart(document.getElementById('chart_categorie_div'));
                    categorieChart.draw( dataPratichePerCategoria, categorieChartOptions);

                } );

             } );




         }

         function getBindings(tipologie, j){
            var result="";
            for(var i=0; i<tipologie.length; i++){
                if(i==j) continue;
                result+="\n BIND (\"0\"^^<http://www.w3.org/2001/XMLSchema#long> AS ?"+tipologie[i].split(' ').join('').split('.').join('').toLowerCase().trim()+"). ";
            }
            return result;
         }



     </script>
 {% endblock %}